body {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  height: 100vh; }

.header,
.wrap-brand,
.wrap-title {
  display: flex;
  background-color: #EBEBEB; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1; }

.wrap-brand {
  width: 400px;
  height: 100px;
  align-items: center;
  background-color: #000000; }
  .wrap-brand #trigger-sidebar {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out; }
    .wrap-brand #trigger-sidebar i {
      color: #fff;
      font-size: 32px;
      cursor: pointer; }
    .wrap-brand #trigger-sidebar .ion-ios-arrow-round-back {
      display: none;
      font-size: 46px; }
    .wrap-brand #trigger-sidebar.back {
      background-color: #333537; }
      .wrap-brand #trigger-sidebar.back .ion-md-menu {
        display: none; }
      .wrap-brand #trigger-sidebar.back .ion-ios-arrow-round-back {
        display: block; }
  .wrap-brand .brand {
    padding: 18px 40px;
    box-sizing: border-box; }

.wrap-title {
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 26px 50px;
  box-sizing: border-box; }
  .wrap-title .arrow i {
    font-size: 32px;
    color: #000000;
    cursor: pointer; }
  .wrap-title p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .wrap-title h2 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 43px;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; }

.sidebar {
  position: absolute;
  top: 100px;
  left: 0;
  width: 400px;
  height: 85vh;
  z-index: 1;
  background: #EBEBEB;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 35px 10px;
  box-sizing: border-box;
  transition: .2s all ease-in-out; }
  @media only screen and (min-width: 1600px) {
    .sidebar {
      height: 89.7vh; } }
  .sidebar.collapsed {
    left: -410px; }
  .sidebar h3 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 43px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px; }
    @media only screen and (min-width: 1600px) {
      .sidebar h3 {
        margin-bottom: 40px; } }
  .sidebar p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 10px 0; }
  .sidebar ul {
    list-style-type: none;
    padding: 0; }
  .sidebar ul.menus {
    margin-top: 10px;
    margin-bottom: 30px; }
    @media only screen and (min-width: 1600px) {
      .sidebar ul.menus {
        margin-bottom: 60px; } }
    .sidebar ul.menus li {
      display: flex;
      align-items: center; }
      .sidebar ul.menus li i {
        margin-right: 5px;
        color: #55B115; }
      .sidebar ul.menus li span {
        text-decoration: underline;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #000000; }
      .sidebar ul.menus li.active span {
        color: #55B115; }
  .sidebar .btn {
    border: none;
    outline: none;
    padding: 9px 0; }
    .sidebar .btn.btn-outline {
      width: 330px;
      height: 42px;
      background: transparent;
      border: 1px solid #333537;
      box-sizing: border-box; }
      .sidebar .btn.btn-outline span {
        text-decoration: underline;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        text-decoration-line: underline;
        color: #000000; }
  .sidebar ul.social-media {
    display: flex;
    align-items: center; }
    .sidebar ul.social-media li {
      margin-right: 20px; }
      .sidebar ul.social-media li a {
        width: 42px;
        height: 42px;
        border: 1px solid #333537;
        box-sizing: border-box;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center; }
      .sidebar ul.social-media li:last-of-type {
        margin-right: 0; }

.body {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .body.parc-publics img {
    object-fit: cover;
    object-position: bottom; }
  .body.stades img {
    object-fit: cover;
    object-position: top; }
    @media only screen and (min-width: 1383px) and (max-width: 1599px) {
      .body.stades img {
        object-position: top right; } }
  .body .bg {
    width: 100%;
    height: 98vh; }
    .body .bg img {
      width: 100%;
      height: 100%;
      transform: scale(1.2); }

.number {
  position: absolute;
  width: 38px;
  height: 38px;
  border: 1px solid #000000;
  border-radius: 100px;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .number span {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 100px;
    background: #000000;
    color: #fff;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px; }

.tippy-active {
  border-color: #55B115; }
  .tippy-active span {
    background-color: #55B115; }

.parc-publics #number-1 {
  top: 613px;
  left: 934px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-1 {
      top: 805px;
      left: 997px; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-1 {
      top: 915px;
      left: 1314px; } }
.parc-publics #number-2 {
  top: 541px;
  left: 184px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-2 {
      top: 728px;
      left: 168px; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-2 {
      top: 817px;
      left: 264px; } }
.parc-publics #number-3 {
  top: 419px;
  left: 786px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-3 {
      top: 592px;
      left: 834px; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-3 {
      top: 644px;
      left: 1106px; } }
.parc-publics #number-4 {
  top: 253px;
  left: 977px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-4 {
      top: 406px;
      left: 1045px; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-4 {
      top: 407px;
      left: 1374px; } }
.parc-publics #number-5 {
  top: 146px;
  left: 1183px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-5 {
      top: 294px;
      left: 1271px; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-5 {
      top: 259px;
      left: 1670px; } }
.parc-publics #number-6 {
  top: 634px;
  left: 416px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-6 {
      top: 827px;
      left: 428px; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-6 {
      top: 945px;
      left: 598px; } }
.parc-publics #number-7 {
  top: 440px;
  left: 542px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-7 {
      top: 621px;
      left: 566px; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-7 {
      top: 676px;
      left: 763px; } }
.parc-publics #number-8 {
  top: 581px;
  left: 185px; }

.stades #number-1 {
  top: 80px;
  left: 680px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-1 {
      top: 90px;
      left: 615px; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-1 {
      top: 112px;
      left: 957px; } }
.stades #number-2 {
  top: 70px;
  left: 115px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-2 {
      top: 73px;
      left: -50px; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-2 {
      top: 100px;
      left: 166px; } }
.stades #number-3 {
  top: 113px;
  left: 1217px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-3 {
      top: 129px;
      left: 1253px; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-3 {
      top: 167px;
      left: 1714px; } }
.stades #number-4 {
  top: 401px;
  left: 480px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-4 {
      top: 468px;
      left: 384px; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-4 {
      top: 572px;
      left: 684px; } }
.stades #number-5 {
  top: 468px;
  left: 708px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-5 {
      top: 550px;
      left: 645px; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-5 {
      top: 667px;
      left: 994px; } }
.stades #number-6 {
  top: 545px;
  left: 183px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-6 {
      top: 640px;
      left: 32px; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-6 {
      top: 773px;
      left: 259px; } }
.stades #number-7 {
  top: 340px;
  left: 110px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-7 {
      top: 397px;
      left: -50px; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-7 {
      top: 489px;
      left: 163px; } }
.stades #number-7-1 {
  top: 200px;
  left: 510px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-7-1 {
      top: 226px;
      left: 417px; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-7-1 {
      top: 290px;
      left: 720px; } }
.stades #number-8 {
  top: 322px;
  left: 1370px; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-8 {
      top: 374px;
      left: 1435px; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-8 {
      top: 463px;
      left: 1934px; } }

.tooltip {
  width: 220px;
  position: relative;
  background-color: #000000;
  box-sizing: border-box;
  border-radius: 5px;
  display: none; }
  .tooltip .tooltip-body {
    padding: 15px 17px; }
  .tooltip .tooltip-footer a {
    text-decoration: none;
    cursor: pointer; }
  .tooltip .tooltip-footer .btn {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .tooltip h4 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 33px;
    text-transform: uppercase;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 10px; }
  .tooltip p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
    margin-bottom: 16px; }
  .tooltip .btn {
    width: 212px;
    border: none;
    outline: none; }
    .tooltip .btn.btn-success {
      width: 100%;
      height: 46px;
      background-color: #55B115;
      display: flex;
      align-items: center;
      justify-content: center; }
      .tooltip .btn.btn-success span {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF; }

.tippy-popper .tippy-tooltip {
  padding: 0;
  background-color: transparent; }
.tippy-popper .tippy-backdrop {
  background-color: transparent; }

.tippy-popper[x-placement^=top] .tippy-arrow {
  border-top: 8px solid #55B115; }

.tippy-popper[x-placement^=bottom] .tippy-arrow {
  border-bottom: 8px solid #000000; }

.tippy-popper[x-placement^=right] .tippy-arrow {
  border-right: 8px solid #000000; }

.tippy-popper[x-placement^=left] .tippy-arrow {
  border-left: 8px solid #000000; }

/*# sourceMappingURL=style.css.map */
