body {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  height: 100vh; }

.header,
.wrap-brand,
.wrap-title {
  display: flex;
  background-color: #EBEBEB; }

.wrap-brand {
  width: 400px;
  height: 100px;
  align-items: center;
  background-color: #000000; }
  .wrap-brand #trigger-sidebar {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out; }
    .wrap-brand #trigger-sidebar i {
      color: #fff;
      font-size: 32px;
      cursor: pointer; }
    .wrap-brand #trigger-sidebar .ion-ios-arrow-round-back {
      display: none;
      font-size: 46px; }
    .wrap-brand #trigger-sidebar.back {
      background-color: #333537; }
      .wrap-brand #trigger-sidebar.back .ion-md-menu {
        display: none; }
      .wrap-brand #trigger-sidebar.back .ion-ios-arrow-round-back {
        display: block; }
  .wrap-brand .brand {
    padding: 18px 40px;
    box-sizing: border-box; }

.wrap-title {
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 26px 50px;
  box-sizing: border-box; }
  .wrap-title .arrow i {
    font-size: 32px;
    color: #000000;
    cursor: pointer; }
  .wrap-title p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .wrap-title h2 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 43px;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; }

.sidebar {
  position: absolute;
  left: 0;
  width: 400px;
  min-height: 801px;
  z-index: 1;
  background: #EBEBEB;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 35px 50px;
  box-sizing: border-box;
  transition: .2s all ease-in-out; }
  .sidebar.collapsed {
    left: -410px; }
  .sidebar h3 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 43px;
    color: #000000;
    margin: 0;
    margin-bottom: 40px; }
  .sidebar p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 10px 0; }
  .sidebar ul {
    list-style-type: none;
    padding: 0; }
  .sidebar ul.menus {
    margin-top: 10px;
    margin-bottom: 60px; }
    .sidebar ul.menus li {
      display: flex;
      align-items: center; }
      .sidebar ul.menus li i {
        margin-right: 5px;
        color: #55B115; }
      .sidebar ul.menus li span {
        text-decoration: underline;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #000000; }
      .sidebar ul.menus li.active span {
        color: #55B115; }
  .sidebar .btn {
    border: none;
    outline: none;
    padding: 9px 0; }
    .sidebar .btn.btn-outline {
      width: 330px;
      height: 42px;
      background: transparent;
      border: 1px solid #333537;
      box-sizing: border-box; }
      .sidebar .btn.btn-outline span {
        text-decoration: underline;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        text-decoration-line: underline;
        color: #000000; }
  .sidebar ul.social-media {
    display: flex;
    align-items: center; }
    .sidebar ul.social-media li {
      margin-right: 20px; }
      .sidebar ul.social-media li a {
        width: 42px;
        height: 42px;
        border: 1px solid #333537;
        box-sizing: border-box;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center; }
      .sidebar ul.social-media li:last-of-type {
        margin-right: 0; }

.body {
  position: relative;
  width: 100%;
  min-height: 567px; }

.number {
  position: absolute;
  width: 42.7px;
  height: 42.7px;
  border: 1px solid #000000;
  border-radius: 100px;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .number span {
    width: 26.97px;
    height: 26.97px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 100px;
    background: #000000;
    color: #fff;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px; }

.tippy-active {
  border-color: #55B115; }
  .tippy-active span {
    background-color: #55B115; }

.parc-publics #number-1 {
  left: 938px;
  top: 698px; }
.parc-publics #number-2 {
  top: 637px;
  left: 278px; }
.parc-publics #number-3 {
  top: 528px;
  left: 810px; }
.parc-publics #number-4 {
  top: 387px;
  left: 979px; }
.parc-publics #number-5 {
  top: 288px;
  left: 1153px; }
.parc-publics #number-6 {
  top: 717px;
  left: 477px; }
.parc-publics #number-7 {
  top: 552px;
  left: 595px; }
.parc-publics #number-8 {
  top: 581px;
  left: 185px; }

.stades #number-1 {
  top: 15%;
  left: 49%; }
.stades #number-2 {
  top: 14%;
  left: 15.2%; }
.stades #number-3 {
  top: 19.5%;
  right: 14.7%; }
.stades #number-4 {
  top: 50%;
  left: 37%; }
.stades #number-5 {
  top: 58%;
  left: 51%; }
.stades #number-6 {
  top: 67%;
  left: 19%; }
.stades #number-7 {
  top: 44.5%;
  left: 14.3%; }
.stades #number-7-1 {
  top: 28%;
  left: 39%; }
.stades #number-8 {
  top: 42.5%;
  right: 5.5%; }

.tooltip {
  width: 220px;
  position: relative;
  background-color: #000000;
  box-sizing: border-box;
  border-radius: 5px;
  display: none; }
  .tooltip .tooltip-body {
    padding: 15px 17px; }
  .tooltip .tooltip-footer a {
    text-decoration: none;
    cursor: pointer; }
  .tooltip .tooltip-footer .btn {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .tooltip h4 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 33px;
    text-transform: uppercase;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 10px; }
  .tooltip p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
    margin-bottom: 16px; }
  .tooltip .btn {
    width: 212px;
    border: none;
    outline: none; }
    .tooltip .btn.btn-success {
      width: 100%;
      height: 46px;
      background-color: #55B115;
      display: flex;
      align-items: center;
      justify-content: center; }
      .tooltip .btn.btn-success span {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF; }

.tippy-popper .tippy-tooltip {
  padding: 0;
  background-color: transparent; }
.tippy-popper .tippy-backdrop {
  background-color: transparent; }

.tippy-popper[x-placement^=top] .tippy-arrow {
  border-top: 8px solid #000000; }

.tippy-popper[x-placement^=bottom] .tippy-arrow {
  border-bottom: 8px solid #000000; }

.tippy-popper[x-placement^=right] .tippy-arrow {
  border-right: 8px solid #000000; }

.tippy-popper[x-placement^=left] .tippy-arrow {
  border-left: 8px solid #000000; }

/*# sourceMappingURL=style.css.map */
