body {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  height: 100vh; }

.header,
.wrap-brand,
.wrap-title {
  display: flex;
  background-color: #EBEBEB; }

.header {
  width: 100%;
  z-index: 1; }

.wrap-brand {
  width: 400px;
  height: 100px;
  align-items: center;
  background-color: #000000; }
  .wrap-brand #trigger-sidebar {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out; }
    .wrap-brand #trigger-sidebar i {
      color: #fff;
      font-size: 32px;
      cursor: pointer; }
    .wrap-brand #trigger-sidebar .close {
      display: none;
      font-size: 36px; }
    .wrap-brand #trigger-sidebar.back {
      background-color: #333537; }
      .wrap-brand #trigger-sidebar.back .ion-md-menu {
        display: none; }
      .wrap-brand #trigger-sidebar.back .close {
        display: block; }
  .wrap-brand .brand {
    padding: 18px 40px;
    box-sizing: border-box; }

.wrap-title {
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 26px 50px;
  box-sizing: border-box; }
  .wrap-title .arrow i {
    font-size: 32px;
    color: #000000;
    cursor: pointer; }
  .wrap-title p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .wrap-title h2 {
    text-transform: uppercase;
    font-family: Palanquin;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 43px;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; }

.sidebar {
  position: absolute;
  top: 100px;
  left: 0;
  width: 400px;
  height: 89.9vh;
  z-index: 1;
  background: #EBEBEB;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 35px 10px;
  box-sizing: border-box;
  transition: .2s all ease-in-out; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .sidebar {
      height: 90vh; } }
  @media only screen and (min-width: 1600px) {
    .sidebar {
      height: 88.9vh; } }
  @media only screen and (min-width: 1900px) {
    .sidebar {
      height: 89.7vh; } }
  .sidebar.collapsed {
    left: -410px; }
  .sidebar h3 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 43px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px; }
    @media only screen and (min-width: 1900px) {
      .sidebar h3 {
        margin-bottom: 40px; } }
  .sidebar p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 10px 0; }
  .sidebar ul {
    list-style-type: none;
    padding: 0; }
  .sidebar ul.menus {
    margin-top: 10px;
    margin-bottom: 30px; }
    @media only screen and (min-width: 1900px) {
      .sidebar ul.menus {
        margin-bottom: 60px; } }
    .sidebar ul.menus li {
      display: flex;
      align-items: center; }
      .sidebar ul.menus li i {
        margin-right: 5px;
        color: #55B115; }
      .sidebar ul.menus li span {
        text-decoration: underline;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #000000; }
      .sidebar ul.menus li.active span {
        color: #55B115; }
  .sidebar .btn {
    border: none;
    outline: none;
    padding: 9px 0; }
    .sidebar .btn.btn-outline {
      width: 330px;
      height: 42px;
      background: transparent;
      border: 1px solid #333537;
      box-sizing: border-box; }
      .sidebar .btn.btn-outline span {
        text-decoration: underline;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        text-decoration-line: underline;
        color: #000000; }
  .sidebar ul.social-media {
    display: flex;
    align-items: center; }
    .sidebar ul.social-media li {
      margin-right: 20px; }
      .sidebar ul.social-media li a {
        width: 42px;
        height: 42px;
        border: 1px solid #333537;
        box-sizing: border-box;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center; }
      .sidebar ul.social-media li:last-of-type {
        margin-right: 0; }

.body {
  position: relative;
  width: 100%;
  height: 89.8vh;
  overflow: hidden; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .body {
      height: 90vh; } }
  @media only screen and (min-width: 1600px) {
    .body {
      height: 90vh; } }
  @media only screen and (min-width: 1900px) {
    .body {
      height: 89.8vh; } }
  .body.parc-publics img {
    object-fit: cover; }
  .body.stades img {
    object-fit: cover; }
  .body .bg {
    width: 100%;
    height: 100%; }
    .body .bg img {
      width: 100%;
      height: 100%;
      transform: scale(1.187); }
      @media only screen and (min-width: 1383px) and (max-width: 1599px) {
        .body .bg img {
          transform: scale(1.17); } }
      @media only screen and (min-width: 1600px) {
        .body .bg img {
          transform: scale(1.178); } }
      @media only screen and (min-width: 1900px) {
        .body .bg img {
          transform: scale(1.17); } }

.number {
  position: absolute;
  width: 57px;
  height: 57px;
  border: 1px solid #000000;
  border-radius: 100px;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .2s all ease-in-out; }
  .number span {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 100px;
    background: #000000;
    color: #fff;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px; }
  .number:hover {
    border-color: #55B115;
    transform: scale(1.2); }
    .number:hover span {
      background-color: #55B115; }

.tippy-active {
  border-color: #55B115; }
  .tippy-active span {
    background-color: #55B115; }

.parc-publics #number-1 {
  bottom: 0.7%;
  right: 41.56%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-1 {
      bottom: 3.5%;
      right: 40.6%; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-1 {
      bottom: 3.2%;
      right: 41.4%; } }
  @media only screen and (min-width: 1900px) {
    .parc-publics #number-1 {
      bottom: 4.3%;
      right: 42.1%; } }
.parc-publics #number-2 {
  bottom: 10.6%;
  left: 12.7%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-2 {
      bottom: 12.4%;
      left: 4.5%; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-2 {
      bottom: 12.2%;
      left: 9%; } }
  @media only screen and (min-width: 1900px) {
    .parc-publics #number-2 {
      bottom: 12.5%;
      left: 9.8%; } }
.parc-publics #number-3 {
  bottom: 25%;
  left: 46.54%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-3 {
      bottom: 26.7%;
      left: 45.9%; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-3 {
      bottom: 26.6%;
      left: 46.2%; } }
  @media only screen and (min-width: 1900px) {
    .parc-publics #number-3 {
      bottom: 27.1%;
      left: 46.2%; } }
.parc-publics #number-4 {
  top: 46.7%;
  right: 38.8%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-4 {
      top: 47.5%;
      right: 37.4%; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-4 {
      top: 47.5%;
      right: 38.6%; } }
  @media only screen and (min-width: 1900px) {
    .parc-publics #number-4 {
      top: 48%;
      right: 39.3%; } }
.parc-publics #number-5 {
  top: 32%;
  right: 29%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-5 {
      top: 34.2%;
      right: 24.6%; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-5 {
      top: 34%;
      right: 27%; } }
  @media only screen and (min-width: 1900px) {
    .parc-publics #number-5 {
      top: 35%;
      right: 27.8%; } }
.parc-publics #number-6 {
  bottom: -11.9px;
  left: 24.7%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-6 {
      bottom: 0.7%;
      left: 19.75%; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-6 {
      bottom: 0.9%;
      left: 22.7%; } }
  @media only screen and (min-width: 1900px) {
    .parc-publics #number-6 {
      bottom: 1.7%;
      left: 23.67%; } }
.parc-publics #number-7 {
  top: 69.6%;
  left: 33%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .parc-publics #number-7 {
      top: 69.7%;
      left: 29.3%; } }
  @media only screen and (min-width: 1600px) {
    .parc-publics #number-7 {
      top: 70.2%;
      left: 31.3%; } }
  @media only screen and (min-width: 1900px) {
    .parc-publics #number-7 {
      top: 70.4%;
      left: 31.7%; } }
.parc-publics #number-8 {
  top: 581px;
  left: 185px; }

.stades #number-1 {
  top: 10.1%;
  left: 50.4%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-1 {
      top: 11.3%;
      left: 50.7%; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-1 {
      top: 11%;
      left: 50.9%; } }
  @media only screen and (min-width: 1900px) {
    .stades #number-1 {
      top: 12%;
      left: 50.9%; } }
.stades #number-2 {
  top: 9.4%;
  left: 19.5%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-2 {
      top: 11.5%;
      left: 13%; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-2 {
      top: 11.2%;
      left: 16.5%; } }
  @media only screen and (min-width: 1900px) {
    .stades #number-2 {
      top: 11.6%;
      left: 17.4%; } }
.stades #number-3 {
  top: 14%;
  right: 16.2%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-3 {
      top: 16%;
      right: 9%; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-3 {
      top: 15.9%;
      right: 13%; } }
  @media only screen and (min-width: 1900px) {
    .stades #number-3 {
      top: 16.6%;
      right: 14.3%; } }
.stades #number-4 {
  top: 48%;
  left: 39.6%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-4 {
      top: 49.5%;
      left: 37.6%; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-4 {
      top: 49.8%;
      left: 38.8%; } }
  @media only screen and (min-width: 1900px) {
    .stades #number-4 {
      top: 50.8%;
      left: 39.2%; } }
.stades #number-5 {
  top: 58%;
  left: 51.6%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-5 {
      top: 58.2%;
      left: 52.5%; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-5 {
      top: 58.6%;
      left: 52.5%; } }
  @media only screen and (min-width: 1900px) {
    .stades #number-5 {
      top: 58.7%;
      left: 52.5%; } }
.stades #number-6 {
  top: 68%;
  left: 22.5%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-6 {
      top: 67.5%;
      left: 17%; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-6 {
      top: 68%;
      left: 20.3%; } }
  @media only screen and (min-width: 1900px) {
    .stades #number-6 {
      top: 67.9%;
      left: 21.1%; } }
.stades #number-7 {
  top: 41.7%;
  left: 18.9%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-7 {
      top: 43.7%;
      left: 12.5%; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-7 {
      top: 43%;
      left: 15.9%; } }
  @media only screen and (min-width: 1900px) {
    .stades #number-7 {
      top: 44%;
      left: 17%; } }
.stades #number-7-1 {
  top: 26%;
  left: 40.9%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-7-1 {
      top: 27.5%;
      left: 39.2%; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-7-1 {
      top: 27.5%;
      left: 40.2%; } }
  @media only screen and (min-width: 1900px) {
    .stades #number-7-1 {
      top: 27.9%;
      left: 40.7%; } }
.stades #number-8 {
  top: 39.5%;
  right: 8%; }
  @media only screen and (min-width: 1383px) and (max-width: 1599px) {
    .stades #number-8 {
      top: 41.5%;
      right: -1%; } }
  @media only screen and (min-width: 1600px) {
    .stades #number-8 {
      top: 40.8%;
      right: 3.5%; } }
  @media only screen and (min-width: 1900px) {
    .stades #number-8 {
      top: 42%;
      right: 4.7%; } }

.tooltip {
  width: 240px;
  position: relative;
  background-color: #000000;
  box-sizing: border-box;
  border-radius: 5px;
  display: none; }
  .tooltip .tooltip-body {
    padding: 15px 17px; }
  .tooltip .tooltip-footer a {
    text-decoration: none;
    cursor: pointer; }
  .tooltip .tooltip-footer .btn {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .tooltip h4 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
    text-transform: uppercase;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 10px; }
  .tooltip p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
    margin-bottom: 16px; }
  .tooltip .btn {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none; }
    .tooltip .btn span {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase; }
    .tooltip .btn.btn-success {
      background-color: #55B115; }
      .tooltip .btn.btn-success span {
        color: #FFFFFF; }
    .tooltip .btn.btn-disabled {
      background-color: #424242;
      pointer-events: none; }
      .tooltip .btn.btn-disabled span {
        color: #8a8a8a; }

.tippy-popper .tippy-tooltip {
  padding: 0;
  background-color: transparent; }
.tippy-popper .tippy-backdrop {
  background-color: transparent; }

.tippy-popper[x-placement^=top] .tippy-arrow {
  border-top: 8px solid #55B115; }

.tippy-popper[x-placement^=bottom] .tippy-arrow {
  border-bottom: 8px solid #000000; }

.tippy-popper[x-placement^=right] .tippy-arrow {
  border-right: 8px solid #000000; }

.tippy-popper[x-placement^=left] .tippy-arrow {
  border-left: 8px solid #000000; }

/*# sourceMappingURL=style.css.map */
